header {
    background-color: whitesmoke;
    top: 0;
    left: 0;
    height: 300%;
    width: 250px;
    position: absolute;
    padding: 25px;
    font-family:'Times New Roman', Times, serif;
    font-size: 36px;
    
  }
main {
    margin-right: 230px;
    margin-left: 30px;
    
}
.logo {
    width: 250px;
    right: 0;
}

.current {
    background-color: red;
    border-radius: 30px;
    padding: 5px;

}

a {
    color: black;
    text-decoration: none;
    position: relative;

}
 a:hover {
    background-color: linen;
    color: red;
    text-decoration: underline;
    position: relative;
    border-radius: 10px;
    padding: 5px;

}

dt {
     text-align: center;
     display: block;
}

footer {
    background:whitesmoke;
    color:red; 
    padding: 5px;
    font-weight: bold;
    text-decoration: solid;
    font-size: 30px;
    font-style: italic;
    text-align: left;
    bottom: 0;
    width: 100%;
    position: fixed;
    
}

body {
    margin-bottom: 40px;
    overflow: scroll;
    
      
}
li{
    font-size: 30px;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding: 16px;
    color: black;
    font-weight: bold;
}

div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    }
    
    div.scroll-container img {
    padding: 10px;
    }
